# Kconfig - OLIMEX-STM32-E407 board configuration
#
# Copyright (c) 2017, Erwin Rol <erwin@erwinrol.com>
#
# SPDX-License-Identifier: Apache-2.0
#
config BOARD_EXPLORER_STM32_F407
	bool "BOARD_EXPLORER_STM32_F407 Development Board"
	depends on SOC_STM32F407XG

